# ======================
# Sekrety / hasła
# ======================
.env
*.env

# ======================
# Backupy bazy / dumpy
# ======================
Backups/
*.dump
*.backup
*.sql.gz

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# ======================
# Środowiska
# ======================
.venv/
venv/
env/
*.egg-info/

# ======================
# IDE / system
# ======================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ======================
# Pliki pomocnicze
# ======================
pandas_sciaga.txt
postgres_sciaga.txt
sqlalchemy_sciaga.txt
